<div class="row text-center">
    <h1 class="text-info">You have reached a not found view.</h1>
    <hr />
    <button class="btn-primary btn-outline-success" asp-controller="Movies" asp-action="Index" onclick="location.href='@Url.Action("Index", "Movies")'">Go to Home Page</button>
</div>